header {
    padding: 1%
}
.div {
    background-color: #FDCD3D;
    height: 500px;
    padding: 50px;
    width: 100%
}
h1 {
    padding: 20px;
    color: white;
    position: relative; top: 5% 
}
h2 {
    padding: 20px;
    color: white
}
h3 {
    padding: 20px;
    color: white;
    word-wrap: initial;
    position: relative; top: -10%
}
.button1 {
    background-color: #FDCD3D;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-color: white;
    margin-left: 1%;
    position: relative; top: 200%
}
.mac {
    margin-left: 60%;
    height: 100%;
    position: relative; top: -370px
}
.red {
    display: flex;
    justify-content: space-evenly;
    position: relative; top: 50px

}
.html {
display: flex;
height: 200px
}
button {
    font-size: 20px;
    padding: 20px;
    border-top-color: black;
    border-color: black;
    background-color: white;
    border-width: 3px;
    font-size: 20px;

}
.css {
    height: 200px
}
.js{
    height: 200px
}
.blue{
    display: flex;
    justify-content: center;
    position: relative; top: 90px;
    justify-content: space-evenly;
    margin-left: 60px
}
.yellow{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    position: relative; top: 130px
}